/*  your css code here. If applicable */
body {
	font-family: Arial, sans-serif;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.book-library {
	background-color: #f5f5f5;
	padding: 15px;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.library h1 {
	text-align: center;
	margin-bottom: 20px;
}

.book {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.book img {
	width: 180px;
	height: auto;
	margin-bottom: 10px;
}

.book h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0;
	text-align: left;
	text-transform: uppercase;
}

.book p {
	font-size: 10px;
	color: #777777;
	margin: 0 0 0px 0;
	text-align: left;
}

.price {
	background-color: #2ecc71;
	color: white;
	font-weight: bold;
	padding: 6px;
	border-radius: 3px;
}
